<% provide(:title, 'About') %>
<h1>IDEA</h1>
<p>Profane Alice is a tool that gamifies good manners in comments and discussions. </p>
<p>Assume a commenting system that allows 100 words per post. I want to be able to shrink the comment box allowed to a user when he/she exhibits bad posting manners, such as profanity, shouting (using all caps or too many exclamation marks), or spitting (insulting other users, racial slurs).
The text box allowed to an especially bad-mannered user would shrink to ridiculously small proportions until it (and the user) disappears in a puff of smoke. </p></br>

<h1>BACKGROUND</h1></p>
<p>Monitoring good behavior in discussions is not a trivial task. Human monitors don't scale, and attempts at automatically censoring certain language or behaviors have run into a host of issues, including the <a href="http://en.wikipedia.org/wiki/Scunthorpe_problem">Scunthorpe problem</a>. A combination of community enforcement (users who get a lot of followers and likes are probably behaving within a range of decency) and gamification of manners might be the best answer to this problem. </p></br>

