<% provide(:title, 'Checkerboard') %>


<table>
  <tbody>
    <% @squares.each_slice(10).each_with_index do |row, index| %>
<% count = 1 %>
<% if index.odd? %>
   <tr>
       <% row.each do |column| %>
		<% if column.odd? %>
         <td id="blackbox">
           <%= "PUCK" %>
         </td>
		
		<% else%>
		 <td id="whitebox">
          <%= "SHUCK" %>
        </td>
		<% end %>
       <% end %>
   </tr>
<% count = count + 1 %>
<% else %>
<tr>
     <% row.each do |column| %>
		<% if column.odd? %>
       <td id="whitebox">
         <%= "CUCK" %>
       </td>
		
		<% else%>
		 <td id="blackbox">
        <%= "DUCK" %>
      </td>
		<% end %>
     <% end %>
 </tr>
<% count = count + 1 %>
 <% end %>
 <% end %>
  </tbody>
</table>

