<% provide(:title, 'Alice2') %>
<body>

    <article>
        <label for="files">Select a file: </label>
        <input id="files" type="file" />
        <output id="result" />
    </article>
</body>
