// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    font-family: 'Segoe UI';
    font-size: 12pt;
}

.black {
    background-color: black;
		max-width: 30px;
        max-height: 30px;
    	padding: 0px;
		margin: -20px;
}

.white {
    background-color: white;
		max-width: 30px;
        max-height: 30px;
    padding: 0px;
}

.h1{
    font-size:12pt;
    color: #fff;
    background-color: #1BA1E2;
}
#blackbox {
		height: 100px;
        min-width: 100px;
        padding: 0px;
		border: 1px;
		background-color: black;
}
#whitebox {
		height: 100px;
        min-width: 100px;
        padding: 0px;
		border: 1px;
		background-color: white;
}


