<footer class="footer">
  <small>
        Profane Alice is made with good manners in New York City by
    <a href="https://github.com/honor/Profane-Alice">honor</a>
  </small>
  <nav>
    <ul>

      <li><a href="http://en.wikipedia.org/wiki/Alice's_Adventures_in_Wonderland">Who is this Alice?</a></li>

    </ul>
  </nav>
</footer>